<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.zq.dao.mysql.mapper.UserMapper">

    <!--为了返回list类型  我们定义一个resultMap-->
    <resultMap id="resultUser" type="UserInfo">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="level" property="level"/>
        <result column="user_account" property="userAccount" />
    </resultMap>



    <select id="getUserById" parameterType="int" resultType="com.biz.zq.dao.mysql.po.UserInfo">
        SELECT * FROM soa_user_info id=#{id}
    </select>

    <select id="findAll" resultMap="resultUser">
        SELECT * FROM soa_user_info
    </select>

    <select id="getUserByAccount" parameterType="String" resultMap="resultUser">
        SELECT * FROM soa_user_info WHERE user_account=#{userAccount}
    </select>
</mapper>